/* Fonts importadas de google */

@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Montserrat:wght@300&display=swap');

$titulo: 'Cinzel Decorative', cursive;

$titulo-secundario: 'Cinzel Decorative', cursive;

$texto: 'Montserrat', sans-serif;